@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');



:root {
    --primary-1: #262220;
    --primary-2: #A62014;
    --primary-3: #A15C38;
    --primary-4: #FFFFFF;
    --secondary-1: #F7F1F0;
    --secondary-2: #C3A6A0;
    --third-1: #6E6E6E;
    --third-2: #E4E4E4;

    /* 文字 */
    /*NOTO SANS TC :Regular400/Medium 500  */
    /*Noto Serif TC:SemiBold 600/Black 900  */
}

/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;

}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    text-decoration: none;
}

#gotop {
    position: fixed;
    right: 20px;
    bottom: 260px;
    z-index: 999;

    width: 50px;
    height: 50px;
    /* 新增 */
    /* display: none; */
    background-color: var(--primary-4);
    border-radius: 50%;
    padding: 5px;

    cursor: pointer;
    /* 游標樣式:手指 */
}

#butler {
    position: fixed;
    right: 20px;
    bottom: 320px;
    z-index: 998;

    width: 50px;
    height: 50px;
    /* 新增 */
    /* display: none; */
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;

    cursor: pointer;
    /* 游標樣式:手指 */
}


/* 頁首區 */
#container-topbar {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 5rem;
    padding: 16px 24px 20px;
    background-color: var(--primary-4);


}

/* logo區 */
.logo {
    width: 196px;
    height: auto;
}


/* 導覽列 */
#container-topbar .navigation {
    display: flex;
    align-items: center;

}

#container-topbar .navigation .menu {
    display: flex;
    align-items: center;
    padding: 0 1.5vw;
}

#container-topbar .navigation .menu li {
    border-right: solid 1px var(--primary-3);
    padding: 0 24px 0 24px;
}


#container-topbar .navigation .menu li:last-child {
    border-right: none;
}

/* rwd響應式 */
@media screen and (max-width:768px) {
    #container-topbar .navigation .menu {
        flex-direction: column;
        padding: 0;
    }

    #container-topbar .navigation .menu li {
        padding: 12px 0;
        border-right: none;
    }
}



#container-topbar .navigation .menu a {
    color: var(--primary-3);
    text-decoration: none;
    font-size: 1.2rem;
    border-bottom: solid 2px transparent;
}

#container-topbar .navigation .menu a:hover {
    border-bottom: solid 2px var(--primary-3);
    transition: 0.35s ease-in-out;
    padding-bottom: 6px;
}

#container-topbar .navigation .icon {
    display: flex;
    align-items: center;
}

#container-topbar .navigation .icon a img {
    padding: 0 24px 0 0;
}



/* banner區  */
main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}


#information {
    width: 100%;
    height: 400px;
    /* 你可以根據需要調整高度 */
    background-image: url('../images/information/image-bn-ifm.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-4);
    /* 設置文字顏色 */

}

#information .title h2 {
    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    /* 根据文本的大小自动调整字体*/
    font-weight: 900;
    font-style: normal;
    font-size: 2.2rem;
    /* 調整字體大小 */
    letter-spacing: 0.6rem;
    /* 調整字距 */
    line-height: 0.6rem;
    /* 調整字高 */
    text-align: center;
    margin: 0;
}

/* 內容區 */
.content-section {
    width: 100%;
    display: flex;
    justify-content: center;
    /* 水平置中 */
    align-items: center;
    /* 垂直置中 */
    flex-direction: column;
    /* 若內容為垂直排列 */
    text-align: center;
    /* 讓文字在容器內水平居中 */
    padding: 20px;
    /* 添加内邊距避免内容貼邊 */
    background-color: var(--secondary-1);
}

/* 为  .content-section 内的 h3 和 h4 添加样式 */

.content-section h3 {
    font-family: "Noto Sans TC";
    font-optical-sizing: auto;
    /* 根据文本的大小自动调整字体*/
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.2rem;
    /* 調整字距 */
    line-height: 0.6rem;
    /* 調整字高 */
    text-align: center;
    margin: 20px auto;
    /* 根据需要调整外边距 */
    font-size: 1.5rem;
    /* 根据需要调整字体大小 */
    color: var(--primary-2);

}

.content-section h4 {
    font-family: "Noto Sans TC";
    font-optical-sizing: auto;
    /* 根据文本的大小自动调整字体*/
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2rem;
    /* 調整字距 */
    line-height: 0.6rem;
    /* 調整字高 */
    text-align: left;
    margin: 25px auto 15px;
    /* 上边距25px，下边距15px，水平居中 */
    font-size: 1.2rem;
    /* 根据需要调整字体大小 */
    color: var(--primary-1);
}

/* 讓列表內容置中 */
.content-section ul {
    font-family: "Noto Sans TC";
    font-optical-sizing: auto;
    /* 根据文本的大小自动调整字体*/
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2rem;
    /* 調整字距 */
    line-height: 0.6rem;
    /* 調整字高 */
    padding-left: 40px;
    /* 添加适当的左内边距以显示黑点 */
    margin-left: 0;
    /* 移除默認的左外邊距 */
    text-align: left;
    list-style-type: disc;
    /* 确保显示黑点 */
}

.content-section ol {
    font-family: "Noto Sans TC";
    font-optical-sizing: auto;
    /* 根据文本的大小自动调整字体*/
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2rem;
    /* 調整字距 */
    line-height: 1rem;
    /* 調整字高 */
    padding-left: 40px;
    /* 添加适当的左内边距以显數字 */
    margin-left: 0;
    /* 移除默認的左外邊距 */
    text-align: left;
    list-style-type: decimal;
    /* 确保显示数字 */
}

.content-section li {
    font-family: "Noto Sans TC";
    font-optical-sizing: auto;
    /* 根据文本的大小自动调整字体*/
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2rem;
    /* 調整字距 */
    line-height: 1.5rem;
    /* 調整字高 */
    text-align: left;
    /* 确保列表項的文字居中 */
    margin: 0 auto;
    /* 置中列表項 */
}

.content-section li  .after-br {
    /* display: block; */
    margin-top: 10px; /* 控制间距 */
    margin-left: 90px; /* 向右移动20px，您可以调整这个值 */
    line-height: 0.5; /* 控制行高 */
}

/* 頁尾區 */
footer {

    background-color: var(--primary-2);
    color: var(--primary-4);
    padding: 20px;
    /* 添加 padding 以確保内容可建 */
    margin-top: auto;
    /* 確保 footer 在頁面底部 */
}

footer div {
    display: flex;
    justify-content: center;
}

footer .navigation {
    padding: 0 70px 0 0;
}

footer .navigation .menu-list {
    display: flex;
    justify-content: center;
}

footer .menu {
    padding: 10px 50px;
    opacity: 0.8rem;
}

footer .navigation h2 {
    border-bottom: solid 1px var(--primary-4);
}


footer .menu .submenu {
    padding: 10px 0;
}

footer .menu .submenu a {
    color: var(--primary-4);
}

footer .submenu-icon {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

footer .small {
    margin: 0;
    padding: 0;
    justify-content: center;
    opacity: 0.9;
}